@using Entity.User
@using Entity.ValueType
@using Platform.Extension

@{
    ViewBag.Title = "Edit Department";
    var owners = ViewData["Owners"] as List<User>;
    var department = ViewData["Department"] as Department;
}

@section css{ 
    <link rel="stylesheet" href="~/css/department/department.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" />
}

@section scripts {
    <script type="text/javascript" src="~/lib/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="~/js/department/department.js"></script>
}

@section breadcrumb{
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">Department</a></li>
            <li class="active">Edit Department</li>
        </ol>
    </div>
}

<div class="row">
    <div class="page-header">
        <h1>Edit department</h1>
    </div>
</div>

<div class="row">
    <form method="post" action="~/Department/EditDepartment?id=@Html.Raw(department.Id)">
        <div class="row">
            <div class="form-group col-md-12">
                <label for="id">Department name</label>
                <input type="text" class="form-control" id="id" name="id" value="@Html.Raw(department.Id)" readonly>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label for="ownerIds">Owners</label>
                <select class="form-control" id="ownerIds" name="ownerIds" multiple="multiple" data-validation="required">
                    @foreach (var item in owners)
                    {
                        if (department.OwnerIds.Contains(item.Id))
                        {
                            <option value="@Html.Raw(item.Id)" selected>@Html.Raw(item.Name)</option>
                        }
                        else
                        {
                            <option value="@Html.Raw(item.Id)">@Html.Raw(item.Name)</option>
                        }

                    }
                </select>
            </div>
        </div>

        @if (!department.UserGroups.IsEmpty())
        {
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="userGroupIds">User Groups</label>
                    <select class="form-control" id="userGroupIds" name="userGroupIds" multiple="multiple" data-validation="required">
                        @foreach (var item in department.UserGroups)
                        {
                            <option value="@Html.Raw(item.Key)" selected>@Html.Raw(item.Value.Name)</option>
                        }
                    </select>
                </div>
            </div>
        }


        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="reset" class="btn btn-default left-margin">Reset</button>
                </div>
            </div>
        </div>
    </form>
</div>